.home{
  padding-top: 130px;
  min-height: 90vh;
  width: 100%;
  background-image: url('../../images/Bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
  .home{
    padding-top: 0px;
    padding-bottom: 130px;
    height: 1500px;
    background-size: cover;
  }
}